/*===================================================================================
                            général
===================================================================================*/
body {
    font-size: 62.5%;
}
/*===================================================================================
                            Navbar
===================================================================================*/
h1 {
    color: white;
    margin-top: -10px;
}
.navbar-inverse {
    font-size: 1.6em;
}
