/*===================================================================================
                            général
===================================================================================*/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    padding-top: 50px;
    width: 100%;
}
h1 {
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
h5 {
    padding-top: 2em;
}
a {
    color: #333;
    text-decoration: none;
}
.row {
    width: 100%;
}
/*===================================================================================
                            Navbar
===================================================================================*/

a #title {
    text-align: center;
}
nav div {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn {
    border: 0px none;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}
a:focus {
    outline: 0;
}
.navbar-inverse {
    border-color: rgba(34, 34, 34, .05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #222;
}
.navbar-inverse .navbar-header .navbar-brand {
    font-weight: 700;
    color: #fff;
    transition: all 1s ease 0.5s;
}
/*.navbar-inverse .navbar-brand >#title, .navbar-inverse .navbar-brand>#title:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}*/
.navbar-inverse .navbar-brand >#title:hover, .navbar-inverse .navbar-brand>#title:focus:hover {
    color: #B21908;
    transition: all 0.45s ease 0s;
}
/*.navbar-inverse .navbar-header .navbar-brand:hover, .navbar-inverse .navbar-header .navbar-brand:focus {
    animation: 1s multicolor;
    -webkit-animation: 1s multicolor;
}*/
.navbar-inverse .nav > li>#presentation, .navbar-inverse .nav>li>#presentation:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.navbar-inverse .nav > li>#presentation:hover, .navbar-inverse .nav>li>#presentation:focus:hover {
    color: #B21908;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#filmsaff, .navbar-inverse .nav>li>#filmsaff:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.navbar-inverse .nav > li>#filmsaff:hover, .navbar-inverse .nav>li>#filmsaff:focus:hover {
    color: #B21908;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#resa, .navbar-inverse .nav>li>#resa:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.navbar-inverse .nav > li>#resa:hover, .navbar-inverse .nav>li>#resa:focus:hover {
    color: #B21908;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#events, .navbar-inverse .nav>li>#events:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.navbar-inverse .nav > li>#events:hover, .navbar-inverse .nav>li>#events:focus:hover {
    color: #B21908;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#contact, .navbar-inverse .nav>li>#contact:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.navbar-inverse .nav > li>#contact:hover, .navbar-inverse .nav>li>#contact:focus:hover {
    color: grey;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#filmsaff:hover, .navbar-inverse .nav>li>#filmsaff:focus:hover {
    color: #B21908;
}
.navbar-inverse .nav > li.active>#filmsaff, .navbar-inverse .nav>li.active>#filmsaff:focus {
    color: #B21908!important;
    background-color: transparent;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#resa:hover, .navbar-inverse .nav>li>#resa:focus:hover {
    color: #B21908;
}
.navbar-inverse .nav > li.active>#resa, .navbar-inverse .nav>li.active>#resa:focus {
    color: #B21908!important;
    background-color: transparent;
    transition: all 0.55s ease 0s;
}
.navbar-inverse .nav > li>#events:hover, .navbar-inverse .nav>li>#events:focus:hover {
    color: #B21908;
}
.navbar-inverse .nav > li.active>#events, .navbar-inverse .nav>li.active>#events:focus {
    color: #B21908!important;
    background-color: transparent;
    transition: all 0.45s ease 0s;
}
.navbar-inverse .nav > li>#contact:hover, .navbar-inverse .nav>li>#contact:focus:hover {
    color: grey;
}
.navbar-inverse .nav > li.active>#contact, .navbar-inverse .nav>li.active>#contact:focus {
    color: grey !important;
    background-color: transparent;
    transition: all 0.45s ease 0s;
}

/*=============================================================================
                                        Carousel
=============================================================================*/
.carousel {
    margin-right: 110px;
}
 #waterwheel-carousel {
width: 560px ;
height: 420px;
display: relative;
margin-left: auto;
margin-right: auto;
}

#waterwheel-carousel img {
width: 200px;
height: 300px;
display: hidden;
cursor: pointer;
margin-top: 40px;
}
#waterwheel-carousel li {
    list-style-type: none;
}
/*=============================================================================
                            horizontal accordion
=============================================================================*/
.altmenu {
    /*width: 100%;*/
    padding-top: 30px;
    padding-bottom: 110px;
    background-color: #333;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.accordionp {
    /*width: 100%;*/
    max-width: 800px;
    height: 360px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 75px;
}
.accordionp ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
.accordionp ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 300px;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    transition: all 500ms ease;
}
.accordionp ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}
.accordionp ul li div a {
    display: block;
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}
.accordionp ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    text-align: right;
}
.accordionp ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
}
.accordionp ul li div a p {
    top: 160px;
    font-size: 13.5px;
    width: 300px;
    height: 400px;
    text-align: right;
}
.accordionp ul li:nth-child(1) {
    background-image: url("../img/affiche1.jpg");
    background-size: 260px 300px;

}
.accordionp ul li:nth-child(2) {
    background-image: url("../img/affiche2.jpg");
    background-size: 260px 300px;

}
.accordionp ul li:nth-child(3) {
    background-image: url("../img/affiche3.jpg");
    background-size: 260px 300px;

}
.accordionp ul li:nth-child(4) {
    background-image: url("../img/affiche4.jpg");
    background-size: 260px 300px;

}
.accordionp ul li:nth-child(5) {
    background-image: url("../img/affiche5.jpg");
    background-size: 260px 300px;

}
.accordionp ul li:nth-child(6) {
    background-image: url("../img/affiche6.jpg");
    background-size: 260px 300px;

}
.accordionp ul:hover li {
    width: 8%;
}
.accordionp ul:hover li:hover {
    width: 60%;
}
.accordionp ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}
.accordionp ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
@media screen and (max-width: 600px) {
    .accordionp {
        height: auto;
    }
    .accordionp ul li, .accordionp ul li:hover, .accordionp ul:hover li, .accordionp ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}

/*===================================================================================
                            footer
===================================================================================*/

footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    position: relative;
    margin-top: auto;
}
footer h5 a:hover{
    text-decoration: none;
    font-weight: bold;
}
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-top: -24px;
}

/*===================================================================================
                            body
===================================================================================*/

.logoville {
    left: 10px;
    top: 114px;
    width: 196px;
    height: 518px;
    position: fixed;
}
.jumbotron {
    padding-top: 20px;
    margin-top: 110px;
    display: inline-block;
}

/*===================================================================================
                            aside
===================================================================================*/

.rightSideInfo {
    display: inline-block;
    margin-top: 110px;
    border-radius: 6px;
    background-color: #EEE;
}
.rightSideInfo ul {
    padding-left: 0px;
}
#imgCineIndoor {
    padding-bottom: 20px;
    padding-top: 10px;
}
.description {
    margin: 1em auto 2.25em;
}
.inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
.accordion li {
    margin: .5em 0;
    list-style-type: none;
    padding-left: 0px;
}
.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
}
.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}
.accordion a {
    font-size: 1.5em;
    text-decoration: none;
}
.inner li {
    font-size: 1.2em;
    text-decoration: none;
}
/*==============================================================================
                                reservation
==============================================================================*/
.form-horizontal {
margin-top: 8%;

}
#tarif{
font-size: 1.2em;


}
